In [8]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [9]:
my_data = pd.read_csv("data/drug200.csv", delimiter=",")
my_data.head(5)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [10]:
my_data.shape

(200, 6)

In [11]:
X = my_data[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values
y = my_data["Drug"]

### Tiền xử lý dữ liệu cho __X__ và __y__ để đưa về dạng số thực sử dụng các phương pháp:
- One-hot encoding cho trường thuộc tính thứ 2, 3, 4 của __X__
- Chuẩn hóa trường dữ liệu đầu tiên và cuối cùng của __X__ về khoảng (0, 1)
- Sử dụng One-hot encoding cho y
- Có thể tham khảo thư viện mã hóa one hot tại: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
ct = ColumnTransformer(transformers=[("encoder", OneHotEncoder(), [1])], remainder="passthrough")
X = ct.fit_transform(X)
X

array([[1.0, 0.0, 23, 'HIGH', 'HIGH', 25.355],
       [0.0, 1.0, 47, 'LOW', 'HIGH', 13.093],
       [0.0, 1.0, 47, 'LOW', 'HIGH', 10.114],
       ...,
       [0.0, 1.0, 52, 'NORMAL', 'HIGH', 9.894],
       [0.0, 1.0, 23, 'NORMAL', 'NORMAL', 14.02],
       [1.0, 0.0, 40, 'LOW', 'NORMAL', 11.349]], dtype=object)