<h1>Thử: Xử lý điểm thi THPT của 30.000 thí sinh tỉnh Hà Nội</h1>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("./data/mark.csv")
data

           sbd  Toán   Văn  Lí  Hóa  Sinh  Ngoại ngữ    Sử   Địa  GDCD
0      1000001   8.4  8.50 NaN  NaN   NaN        9.2  6.75  6.00  9.00
1      1000002   7.2  8.50 NaN  NaN   NaN        9.2  8.75  6.50  8.50
2      1000003   NaN  6.50 NaN  NaN   NaN        NaN  9.25  7.50   NaN
3      1000004   7.8  8.25 NaN  NaN   NaN        7.8  4.50  6.25  8.25
4      1000005   7.2  8.00 NaN  NaN   NaN        7.8  4.75  6.75  8.25
...        ...   ...   ...  ..  ...   ...        ...   ...   ...   ...
29995  1029996   7.0  6.75 NaN  NaN   NaN        6.8  3.75  6.50  8.75
29996  1029997   5.4  7.50 NaN  NaN   NaN        7.6  4.25  5.50  9.00
29997  1029998   6.4  7.75 NaN  NaN   NaN        7.2  4.50  5.75  8.50
29998  1029999   6.8  8.25 NaN  NaN   NaN        9.4  5.25  7.50  9.75
29999  1030000   7.2  7.75 NaN  NaN   NaN        8.2  7.50  6.75  9.75

[30000 rows x 10 columns]

In [6]:
data.describe()

,sbd,Toán,Văn,Lí,Hóa,Sinh,Ngoại ngữ,Sử,Địa,GDCD
count,3.000000e+04,29249.000000,29482.000000,8722.000000,8702.000000,8606.000000,24266.000000,20717.000000,20651.000000,16685.000000
mean,1.015000e+06,6.989470,7.460313,6.845936,6.416427,6.328811,7.530528,6.186876,6.121967,8.500000
std,8.660398e+03,1.490226,1.264802,1.562804,1.655873,1.322979,1.766049,1.538219,1.110281,0.929638
min,1.000001e+06,0.800000,0.000000,0.000000,1.000000,0.500000,1.000000,1.000000,0.000000,1.000000
25%,1.007501e+06,6.400000,6.750000,5.750000,5.250000,5.500000,6.600000,5.000000,5.500000,8.000000
50%,1.015000e+06,7.400000,7.750000,7.250000,6.500000,6.250000,8.000000,6.250000,6.250000,8.500000
75%,1.022500e+06,8.000000,8.500000,8.000000,7.750000,7.250000,8.800000,7.250000,6.750000,9.250000
max,1.030000e+06,10.000000,9.750000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [ ]:
plt.subplots(